.DS_Store
npm-debug.log
Thumbs.db
*/node_modules/
node_modules
*/out/
*/.vs/
tsconfig.lsif.json
*.lsif
*.db
.Spotlight*
.Trash*
*.bak
*.pyc
conf_diff.py
*.vsix
dist/
out/test
out/package.json
.vscode-test
**/out/notebooks/*.js
**/out/notebooks/*.map
**/out/notebooks/**/*.js
**/out/notebooks/**/*.map