<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet">
    </link>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
    <title>Config Preview</title>
</head>

<body style="font-size: 0.7rem;" x-data="data()" x-init="listen()"
    @update-slim-select.window="$nextTick(() => { initMultiSelect() });">
    <div>
        <nav class="navbar navbar-expand-lg bg-success">
            <div class="container" id="main-nav">
                <template x-for="page in pages" :key="page">
                    <a class="nav-link text-white" href="#" x-text="page" @click="updatePage(page)"></a>
                </template>
            </div>
        </nav>
    </div>
    <hr>
    <div class="mb-5">
        <p>Tabs: </p>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <template x-for="tab in tabs">
                    <a class="nav-link text-dark" href="#" x-text="tab.title" @click="updateEntities(tab.name)"></a>
                </template>
            </div>
        </nav>
    </div>
    <hr />
    <div class="mb-5">
        <p>Table:</p>
        <table class="table">
            <thead>
                <th>Auth</th>
                <th>Auth Type</th>
            </thead>
            <tbody>
                <td>Sample</td>
                <td>Sample</td>
            </tbody>
        </table>
    </div>
    <p>Form Fields:</p>
    <div id="form-container">
        <form>
            <template x-for="entity in entities">
                <div>
                    <template x-if="entity.type === 'text' ">
                        <div class="mb-3">
                            <label class="form-label" x-text="entity.label"></label>
                            <input type="text" class="form-control form-control-sm">
                        </div>
                    </template>
                    <template x-if="entity.type === 'checkbox' ">
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" value="entity.field">
                            <label class="form-check-label" for="exampleCheck1" x-text="entity.label"></label>
                        </div>
                    </template>
                    <template x-if="entity.type === 'radio' ">
                        <div class="mb-3">
                            <p x-text="entity.label"></p>
                            <template x-for="option in entity.options.items">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" :name="entity.field" :id="option.value"
                                        :value="option.value">
                                    <label class="form-check-label" :for="option.value" x-text="option.label">
                                    </label>
                                </div>
                            </template>
                        </div>
                    </template>
                    <template x-if="entity.type === 'singleSelect' ">
                        <div class="mb-3">
                            <p x-text="entity.label"></p>
                            <template x-if="entity.options && entity.options.autoCompleteFields">
                                <select :id="entity.field" :aria-label="entity.label">
                                    <template x-for="option in entity.options.autoCompleteFields">
                                        <template x-if="option.value">
                                            <option :value="option.value" x-text="option.label"></option>
                                        </template>
                                    </template>
                                    <template x-for="option in entity.options.autoCompleteFields">
                                        <template x-if="option.children">
                                            <optgroup :label="option.label">
                                                <template x-for="opt in option.children">
                                                    <option x-text="opt.label" :value="opt.value"></option>
                                                </template>
                                            </optgroup>
                                        </template>
                                    </template>
                                </select>
                            </template>
                            <template x-if="entity.options.endpointUrl">
                                <select :id="entity.field" :aria-label="entity.label">
                                    <option x-text="'Options will populate from ' + entity.options.endpointUrl"
                                        :value="entity.options.endpointUrl"></option>
                                </select>
                            </template>
                        </div>
                    </template>
                    <template x-if="entity.type === 'multipleSelect'">
                        <div class="mb-3">
                            <p x-text="entity.label"></p>
                            <select multiple :id="entity.field" aria-label="entity.label">
                                <template x-if="entity.options && entity.options.items">
                                    <template x-for="option in entity.options.items">
                                        <option :value="option.value" x-text="option.label"></option>
                                    </template>
                                </template>
                            </select>
                        </div>
                    </template>
                </div>
            </template>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script>
        const unwrap = data => JSON.parse(JSON.stringify(data))

        function data() {
            let globalConfig = {}
            return {
                globalConfig,
                activePage: '',
                activeForm: '',
                pages: [],
                entities: [],
                slimSelects: [],
                tabs: [],
                listen() {
                    window.addEventListener('message', event => {
                        const message = event.data;
                        if (message.action === "config-data") {
                            this.globalConfig = message.data
                            this.pages = Object.keys(message.data.pages).map(p => this.globalConfig.pages[p].title)
                            this.updateEntities(this.activeForm);
                        }
                    })
                },
                updateEntities(newForm) {
                    this.slimSelects.forEach(s => s?.destroy())
                    this.slimSelects = []
                    this.activeForm = newForm
                    let form = this.globalConfig.pages.configuration.tabs.find(t => t.name === newForm) || this.globalConfig.pages.inputs.services.find(t => t.name === newForm);
                    if (form) {
                        this.entities = form.entity
                    } else {
                        this.entities = []
                    }
                    window.dispatchEvent(new CustomEvent('update-slim-select'));
                },
                updatePage(page) {
                    this.activePage = page;
                    this.updateEntities('');
                    if (page === 'Configuration') {
                        this.tabs = this.globalConfig.pages.configuration.tabs
                    } else {
                        this.tabs = this.globalConfig.pages.inputs.services
                    }
                },
                initMultiSelect(id) {
                    this.entities.forEach((entity) => {
                        if (entity.type === 'singleSelect' || entity.type === 'multipleSelect') {
                            this.slimSelects.push(new SlimSelect({ select: `#${entity.field}` }))
                        }
                    })
                }
            }
        }

    </script>
</body>

</html>