<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.css" rel="stylesheet">
    </link>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.0/dist/alpine.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.0/slimselect.min.js"></script>
    <title>Config Preview</title>
</head>

<body style="font-size: 0.7rem;" x-data="data()" x-init="listen()"
    @update-slim-select.window="$nextTick(() => { initMultiSelect() });">
    <main class="container m-1 mt-2 shadow rounded">
        <nav class="navbar navbar-expand-lg bg-success shadow">
            <div class="container" id="main-nav">
                <template x-for="page in pages" :key="page">
                    <a :class="activePage===page ? styles.mainNav.active : styles.mainNav.inActive" href="#" x-text="page" @click="updatePage(page)"></a>
                </template>
            </div>
        </nav>
        <div class="mb-2 shadow-sm">
            <nav class="navbar navbar-expand-lg bg-light">
                <div class="container">
                    <template x-for="tab in tabs">
                        <a :class="activeForm===tab.name ? styles.subNav.active : styles.subNav.inActive" href="#" x-text="tab.title || tab.label" @click="updateEntities(tab.name||tab.label)"></a>
                    </template>
                </div>
            </nav>
        </div>
        <div class="p-5">
            <p>Form Fields:</p>
            <div id="form-container">
                <form>
                    <template x-for="entity in entities">
                        <div>
                            <template x-if="entity.type === 'text' ">
                                <div class="mb-3">
                                    <label class="form-label" x-text="entity.label"></label>
                                    <input type="text" class="form-control form-control-sm">
                                </div>
                            </template>
                            <template x-if="entity.type === 'checkbox' ">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                        value="entity.field">
                                    <label class="form-check-label" for="exampleCheck1" x-text="entity.label"></label>
                                </div>
                            </template>
                            <template x-if="entity.type === 'radio' ">
                                <div class="mb-3">
                                    <p x-text="entity.label"></p>
                                    <template x-for="option in entity.options.items">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" :name="entity.field"
                                                :id="option.value" :value="option.value">
                                            <label class="form-check-label" :for="option.value" x-text="option.label">
                                            </label>
                                        </div>
                                    </template>
                                </div>
                            </template>
                            <template x-if="entity.type === 'singleSelect' ">
                                <div class="mb-3">
                                    <p x-text="entity.label"></p>
                                    <template x-if="entity.options && !entity.options.endpointUrl">
                                        <select :id="entity.field" :aria-label="entity.label">
                                            <template x-for="opt in entity.singleOptions" :key="opt.value">
                                                <option :value="opt.value" x-text="opt.label"></option>
                                            </template>
                                            <template x-for="group in entity.optionGroups">
                                                <optgroup :label="group.label">
                                                    <template x-for="opt in group.options">
                                                        <option x-text="opt.label" :value="opt.value"></option>
                                                    </template>
                                                </optgroup>
                                            </template>
                                        </select>
                                    </template>
                                    <template x-if="entity.options.endpointUrl">
                                        <select :id="entity.field" :aria-label="entity.label">
                                            <option x-text="'Options will populate from ' + entity.options.endpointUrl"
                                                :value="entity.options.endpointUrl"></option>
                                        </select>
                                    </template>
                                </div>
                            </template>
                            <template x-if="entity.type === 'multipleSelect'">
                                <div class="mb-3">
                                    <p x-text="entity.label"></p>
                                    <select multiple :id="entity.field" aria-label="entity.label">
                                        <template x-if="entity.options && entity.options.items">
                                            <template x-for="option in entity.options.items">
                                                <option :value="option.value" x-text="option.label"></option>
                                            </template>
                                        </template>
                                    </select>
                                </div>
                            </template>
                        </div>
                    </template>
                </form>
            </div>
        </div>
    </main>
    <script>
        const unwrap = data => JSON.parse(JSON.stringify(data))

        function data() {
            return {
                globalConfig: {},
                activePage: '',
                activeForm: '',
                pages: [],
                entities: [],
                slimSelects: [],
                tabs: [],
                listen() {
                    window.addEventListener('message', event => {
                        const message = event.data;
                        if (message.action === "config-data") {
                            this.globalConfig = message.data
                            this.pages = Object.keys(message.data.pages).map(p => this.globalConfig.pages[p].title)
                            if(message.data.alerts?.length > 0) {
                                this.pages.push("Alerts");
                            }
                            this.updatePage(this.activePage, this.activeForm)
                            this.updateEntities(this.activeForm);
                        }
                    })
                },
                updateEntities(newForm) {
                    this.slimSelects.forEach(s => s?.destroy())
                    this.slimSelects = []
                    this.activeForm = newForm
                    let form;
                    if (this.activePage === 'Configuration') {
                        form = this.globalConfig.pages.configuration.tabs.find(t => t.name === newForm);
                    } else if (this.activePage === 'Inputs') {
                        form = this.globalConfig.pages.inputs.services.find(t => t.name === newForm);
                    } else if(this.activePage === 'Alerts') {
                        form = this.globalConfig.alerts.find(alert => alert.name === this.activeForm);
                    }
                    if (form) {
                        this.entities = form.entity.map(entity => {
                            // normalizing single and optiongroups here because alpine.js 
                            // doesn't support x-if inside x-fors that will allow matching both of these in the template
                            if (entity.type === 'singleSelect') {
                                const singleOptions = []
                                const optionGroups = []
                                const addOpt = (opt) => {
                                    if (opt.value) {
                                        singleOptions.push(opt)
                                    } else if (opt.children) {
                                        optionGroups.push({
                                            label: opt.label,
                                            options: opt.children
                                        })
                                    }
                                }
                                entity.options?.autoCompleteFields?.forEach(addOpt)
                                entity.options?.items?.forEach(addOpt)
                                return { ...entity, optionGroups, singleOptions }
                            } else {
                                return entity
                            }
                        })
                    } else {
                        this.entities = []
                    }
                    window.dispatchEvent(new CustomEvent('update-slim-select'));
                },
                updatePage(page, form = '') {
                    this.activePage = page;
                    this.updateEntities(form);
                    if (page === 'Configuration') {
                        this.tabs = this.globalConfig.pages.configuration.tabs
                    } else if (page === 'Inputs') {
                        this.tabs = this.globalConfig.pages.inputs.services
                    } else if (page === 'Alerts') {
                        this.tabs = this.globalConfig.alerts || []
                    }
                },
                initMultiSelect(id) {
                    this.entities.forEach((entity) => {
                        if (entity.type === 'singleSelect' || entity.type === 'multipleSelect') {
                            try {
                                const s = new SlimSelect({ select: `#${entity.field}` })
                                this.slimSelects.push(s)
                            } catch(e) {
                                // NOOP
                            }
                        }
                    })
                },
                styles: {
                    mainNav: {
                        inActive: 'nav-link text-white',
                        active: 'nav-link text-dark bg-light rounded'
                    },
                    subNav: {
                        inActive: 'nav-link text-dark',
                        active: 'nav-link text-white bg-dark rounded'
                    }
                }
            }
        }

    </script>
</body>

</html>