name: Package .vsix and run acceptance tests

on:
  push:
    tags:
      - '*'

jobs:
  package:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16
    - run: npm --version
    - run: node --version
    - run: npm install
    - run: npm list
    - run: npm run compile
    - run: npm install -g @vscode/vsce
    - run: vsce package
    - uses: actions/upload-artifact@v3
      with:
        name: vsix-package
        path: splunk-*.vsix
        if-no-files-found: error
  
  acceptance-test:
    needs: package
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
      # Without this a failure in one OS will cancel jobs running for others
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Download package
      uses: actions/download-artifact@v3
      with:
        name: vsix-package
    - run: pwd
    - run: ls -l *.vsix
      if: runner.os != 'Windows'
    - run: dir *.vsix
      if: runner.os == 'Windows'
    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16
    - run: npm --version
    - run: node --version
    - run: npm install
    - run: npm list
    - run: npm run compile-tests
    - run: echo "Run acceptance tests" && node ./out/test/runAcceptanceTests.js
      if: runner.os == 'macOS'
    - run: echo "Run acceptance tests" && xvfb-run -a node ./out/test/runAcceptanceTests.js
      if: runner.os == 'Linux'
    - run: echo "Run acceptance tests" && node .\out\test\runAcceptanceTests.js
      if: runner.os == 'Windows'
